export AWS_ACCESS_KEY_ID=your_access_key_here
export AWS_SECRET_ACCESS_KEY=your_secret_key_here
export TF_VAR_cloudflare_api_token=your_token_here
export TF_VAR_cloudflare_zone_id=your_zone_id_here
export TF_VAR_cloudflare_domain=your_domain_here
export CLOUDFLARE_ACCOUNT_ID=your_account_id_here
